In [1]:
import pandas as pd
pd.set_option('display.max_colwidth',1)
pd.set_option("display.max_columns", None)
import re
import numpy as np

In [3]:
df_2019 = pd.read_csv("valeursfoncieres-2019.txt", delimiter="|")
df_2018 = pd.read_csv("valeursfoncieres-2018.txt", delimiter="|")
df_2021 = pd.read_csv("valeursfoncieres-2021.txt", delimiter="|")
df_2020 = pd.read_csv("valeursfoncieres-2020.txt", delimiter="|")
df_2022 = pd.read_csv("valeursfoncieres-2022-s1 (1).txt", delimiter="|")
df_2017 = pd.read_csv("valeursfoncieres-2017-s2.txt", delimiter="|")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17260\2125450670.py:1: DtypeWarning: Columns (14,18,23,24,26,28,29,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2019 = pd.read_csv("valeursfoncieres-2019.txt", delimiter="|")
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17260\2125450670.py:2: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2018 = pd.read_csv("valeursfoncieres-2018.txt", delimiter="|")
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17260\2125450670.py:3: DtypeWarning: Columns (18,23,24,26,28,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv("valeursfoncieres-2021.txt", delimiter="|")
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17260\2125450670.py:4: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv("valeursfoncieres-2020.txt", delimiter="|")
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17260\2125450670.py:5: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv("valeursfoncieres-2022-s1 (1).txt", delimiter="|")
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17260\2125450670.py:6: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2017 = pd.read_csv("valeursfoncieres-2017-s2.txt", delimiter="|")

In [10]:
df_allyear=[df_2017,df_2018,df_2019,df_2020,df_2021,df_2022]

df_allyear[0]#will be df_2017

,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/07/2017,Vente,"166100,00",843.0,NaN,RUE,0100,DE LA CHARPINE,1000.0,SAINT-DENIS-LES-BOURG,1,344,NaN,AK,534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,NaN,73.0,4.0,S,NaN,391.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/07/2017,Vente,"59000,00",2.0,NaN,RUE,1720,GOUNOD,1000.0,BOURG-EN-BRESSE,1,53,NaN,AL,175,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/07/2017,Vente,"59000,00",2.0,NaN,RUE,1720,GOUNOD,1000.0,BOURG-EN-BRESSE,1,53,NaN,AL,175,NaN,45.0,"32,32",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,NaN,32.0,1.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/07/2017,Vente terrain à bâtir,"55000,00",NaN,NaN,NaN,B033,LA MAGDELEINE,1160.0,VARAMBON,1,430,NaN,B,831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,605.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/07/2017,Vente,"130000,00",NaN,NaN,NaN,B148,HAMEAU DU CREUX EST,1750.0,REPLONGES,1,320,NaN,D,4182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,AG,NaN,259.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1764626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,20/12/2017,Vente,"920000,00",3.0,NaN,RUE,8659,SAINT JOSEPH,75002.0,PARIS 02,75,102,NaN,AI,34,NaN,24.0,NaN,32.0,NaN,5.0,"91,83",NaN,NaN,NaN,NaN,3,4.0,Local industriel. commercial ou assimilé,NaN,90.0,0.0,NaN,NaN,NaN
1764627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/10/2017,Vente,"325000,00",12.0,NaN,QUAI,1636,DES CELESTINS,75004.0,PARIS 04,75,104,NaN,AQ,69,NaN,1.0,"45,07",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4.0,Local industriel. commercial ou assimilé,NaN,55.0,0.0,NaN,NaN,NaN
1764628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16/10/2017,Vente,"325000,00",12.0,NaN,QUAI,1636,DES CELESTINS,75004.0,PARIS 04,75,104,NaN,AQ,69,NaN,5.0,"18,49",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,NaN,19.0,1.0,NaN,NaN,NaN
1764629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/12/2017,Vente,"255000,00",1.0,NaN,RUE,7167,PAUL LELONG,75002.0,PARIS 02,75,102,NaN,AJ,151,NaN,15.0,"22,11",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,NaN,26.0,2.0,NaN,NaN,NaN
1764630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/12/2017,Vente,"676000,00",53.0,NaN,RUE,9191,DU TEMPLE,75004.0,PARIS 04,75,104,NaN,AG,31,NaN,102.0,"60,00",201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,4.0,Local industriel. commercial ou assimilé,NaN,62.0,0.0,NaN,NaN,NaN

In [16]:
for df in df_allyear:
    print(df['Code departement'].unique(),len(df['Code departement'].unique()) )

[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 21 22 23 24 25 26 27 28
 29 '29' '2A' '2B' '30' 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
 47 48 49 50 51 52 53 54 55 56 58 59 60 61 62 63 64 65 66 69 70 71 72 73
 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 971 972
 973 974 75] 99
[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 21 22 23 24 25 26 27 28
 29 '29' '2A' '2B' '30' 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
 47 48 49 50 51 52 53 54 55 56 58 59 60 61 62 63 64 65 66 69 70 71 72 73
 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 971 972
 973 974 75] 99
[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 21 22 23 24 25 26 27 28
 29 '29' '2A' '2B' '30' 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
 47 48 49 50 51 52 53 54 55 56 58 59 60 61 62 63 64 65 66 69 70 71 72 73
 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 971 972
 973 974 75] 99
[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 21 22 23 24 25 26 27 28
 29 '29' '2A' '2B' '30' 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
 47 48 49 50 51 52 53 54 55 56 58 59 60 61 62 63 64 65 66 69 70 71 72 73
 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 971 972
 973 974 75] 99
[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 21 22 23 24 25 26 27 28
 29 '29' '2A' '2B' '30' 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
 47 48 49 50 51 52 53 54 55 56 58 59 60 61 62 63 64 65 66 69 70 71 72 73
 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 971 972
 973 974 75] 99
[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 21 22 23 24 25 26 27 28
 29 '29' '2A' '2B' '30' 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
 47 48 49 50 51 52 53 54 55 56 58 59 60 61 62 63 64 65 66 69 70 71 72 73
 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 971 972
 973 974 75] 99

In [ ]:
#as seen here 29/30 is repeated twice so we have to fix in all the data

In [18]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764631 entries, 0 to 1764630
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Code service sages          float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    float64
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    float64
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(17), int64(4), object(22)
memory usage: 578.9+ MB

# convert the type of "code departement" column values to strings .

In [23]:
for d in df_allyear:
    d['Code departement']=d['Code departement'].astype(str)

In [25]:
for df in df_allyear:
    print(df['Code departement'].unique(),len(df['Code departement'].unique()) )

['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29' '2A' '2B'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '69' '70' '71' '72' '73' '74'
 '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89'
 '90' '91' '92' '93' '94' '95' '971' '972' '973' '974' '75'] 97
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29' '2A' '2B'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '69' '70' '71' '72' '73' '74'
 '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89'
 '90' '91' '92' '93' '94' '95' '971' '972' '973' '974' '75'] 97
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29' '2A' '2B'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '69' '70' '71' '72' '73' '74'
 '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89'
 '90' '91' '92' '93' '94' '95' '971' '972' '973' '974' '75'] 97
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29' '2A' '2B'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '69' '70' '71' '72' '73' '74'
 '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89'
 '90' '91' '92' '93' '94' '95' '971' '972' '973' '974' '75'] 97
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29' '2A' '2B'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '69' '70' '71' '72' '73' '74'
 '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89'
 '90' '91' '92' '93' '94' '95' '971' '972' '973' '974' '75'] 97
['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '21' '22' '23' '24' '25' '26' '27' '28' '29' '2A' '2B'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '69' '70' '71' '72' '73' '74'
 '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89'
 '90' '91' '92' '93' '94' '95' '971' '972' '973' '974' '75'] 97

we clearly see the number of departments is actually 97 not 99, now we can start breaking it by "department" and "type local"

In [26]:
for df in df_allyear:
    print(df['Type local'].unique(),len(df['Type local'].unique()) )

['Maison' 'Dépendance' 'Appartement' nan
 'Local industriel. commercial ou assimilé'] 5
['Dépendance' 'Appartement' 'Maison' nan
 'Local industriel. commercial ou assimilé'] 5
['Appartement' 'Dépendance' 'Maison' nan
 'Local industriel. commercial ou assimilé'] 5
[nan 'Maison' 'Appartement' 'Dépendance'
 'Local industriel. commercial ou assimilé'] 5
['Maison' 'Dépendance' nan 'Appartement'
 'Local industriel. commercial ou assimilé'] 5
['Appartement' nan 'Maison' 'Local industriel. commercial ou assimilé'
 'Dépendance'] 5

In [37]:
#extract only the needed types from each dataframe we downloaded
Maison=[]
Appartement=[]
for df in df_allyear:
    Maison.append(df[(df['Type local']=='Maison')])
    Appartement.append(df[(df['Type local']=='Appartement')])

In [39]:
#concate maison and appartement list od df into one df
df_Maison=pd.concat(Maison, ignore_index=True)
df_Appartement=pd.concat(Appartement, ignore_index=True)

In [51]:
#creat the data splits
dfs_Maison=[df_Maison.loc[df_Maisonc==x, :] for x in df_Maison['Code departement'].unique()]
dfs_Appartemen=[df_Appartement.loc[df_Appartement['Code departement']==x, :] for x in df_Appartement['Code departement'].unique()]

In [89]:
#download the data in ur local(not needed if u want to do the ML in this notebook)
for df in dfs_Maison:
    df.to_csv("df_Maison_drtm{}.csv".format(df['Code departement'].unique()))  
for df in dfs_Appartemen:
    df.to_csv("df_Appartemen_drtm{}.csv".format(df['Code departement'].unique()))

In [79]:
df_Maison.to_csv("df_Maison_all_dprtm.csv") 
df_Appartement.to_csv("df_Appartement_all_dprtm.csv")

In [37]:
#for the paris dprtmnt case
df_allyear=[df_2017,df_2018,df_2019,df_2020,df_2021,df_2022]
for df in df_allyear:
    dfs = [df.loc[df['Code postal']==x, :] for x in df['Code postal'].unique()]
maison=[]
appartement=[]
for df in df_allyear:
    maison.append(df[(df['Code departement']==75)&(df['Type local']=='Maison')])
    appartement.append(df[(df['Code departement']==75)&(df['Type local']=='Appartement')])
    

df_maison_paris=pd.concat(maison).reset_index(drop=True)
df_apart_paris=pd.concat(appartement).reset_index(drop=True)
for m in maison:
    print(len(m))

df_maison_paris.to_csv("df_maison_paris.csv")  
df_apart_paris.to_csv("df_apart_paris.csv")